.header{
    width: 100%;
    height: 120px;
    background-image:url(../../dist/images/yinyue_bg.jpg);
    .pulick{
        .nav{
        .logo{
                float: left;
            }
        .ul{
            list-style: none;
            margin: 0px;
            float: right;
            padding: 0;
            padding-top: 50px;
            
            .li{
                float: left;
               color: white;
               position: relative;
               margin-right: 20px;
               a{
                  
                  display: block;
                  padding-bottom: 30px;
                  h3{
                      margin: 0px;
                      float: left;
                      font-size: 16px;
                  }
                  span{
                      display: block;
                      float: left;
                      margin-top: -3px;
                      margin-left: 3px;
                  }
               }
               ul{
                   list-style: none;
                   position: absolute;
                   z-index: 555;
                   padding: 0px;
                   width: 136px;
                   top: 30px;
                   left: -30px;
                   background:#312145;
                   li{
                       padding:10px 10px;
                       cursor: pointer;
                       &:hover{
                           padding-left: 20px;
                           background-color: #3498db;
                           transition: padding-left 0.5s;
                       }
                       &:hover:after{
                           content: url(../../dist/images/nav_li_bg.png);
                           float: right;
                       }
                   }
               }
            }
        }
    }
    }
}
.pulick{
    width: 1100px;
    margin: 0 auto;
}
a,a:active,a:link{
    text-decoration: none;
    color: inherit;
}
.clear{
    clear: both;
}
@keyframes name{
                50%{
                    transform:scaleY(1);
                }
                55%{
                    transform:scaleY(1.25);
                }
                60%{
                    transform:scaleY(0.8);
                }
                65%{
                    transform:scaleY(1.1);
                }
                70%{
                    transform:scaleY(0.9);
                }
                100%{
                    transform:scaleY(1);
                }
                
            }













